/*Viz 1*/
#viz1 {
    background-image: url("images/night-sky.png");
    font-family: "Karla", "sans-serif";
    /*overflow: scroll;*/
    margin-top: 50px;
}

#viz1-heading, #viz1-heading-outside {
    font-family: "Karla","sans-serif";
    font-size: 30px;
    font-weight: 400;
    pointer-events: none !important;
    cursor: pointer;
    text-align: center;
    color: #fcdcbf;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    margin: 0 auto;
}

#viz1-svg,
#viz2-svg {
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 0;
    overflow: visible;
}
#viz1-svg-main, #viz2-svg-main {
    overflow: visible;
}

#viz1-svg-main {
   transform: translateX(10%);
}

#viz-container {
    display: flex;
    align-items: center;
    gap: 0;
}


.arrow-container {
    clear: both;
}


#text-page {
    background-image: url("images/night-sky.png");
    font-family: "Karla", "sans-serif";
    overflow: scroll;
}

#text-page-heading {
    font-family: "Karla","sans-serif";
    font-size: 30px;
    font-weight: 400;
    transform: translateY(30%);
    pointer-events: none !important;
    cursor: pointer;
    text-align: center;
    color: #fcdcbf;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#text-page-content {
    margin: 4%;
    font-family: "financier-light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    /*transform: translateY(5%);*/
    cursor: pointer;
    text-align: center;
    color: rgba(252, 220, 191, 0.82);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.viz-descr {
    font-size: smaller;
    color: #0088cc;
}

#funfact {
    color: #fcdcbf;
}
#text-page-content {
    animation: fadeInUp 1.5s ease-out;
}

.axes {
    color: white;
}

.title {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
    font-family: "Karla","sans-serif";
    font-weight: 400;
    line-height: 28px;
    color: #fcdcbf;
}

.text {
    font-family: "Karla", "sans-serif";
}

#arrow-svg1 {
    text-decoration: none;
    margin: 0 10px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: #050404;
}

.keyboard-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

#keyboard-navigation {
    background-color: black;
    opacity: 0.7;
    display: inline-block;
    margin-right: 10px;
    color: white;
}

#link-lang {
    color: white;
}

.arrow-keys {
    display: inline-block;
}

.arrow-key {
    background-color: white;
}

#viz1-legend {
    position: absolute;
    top: 8%;
    right: 0;
    padding: 10px;
}

#attribute-selector-country {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    font-family: "Karla", "sans-serif";
    font-size: small;
    position: absolute;
    top: 8%;
    left: 0;
}

#viz1-svg-main {
    padding: 10px;
}

/*Viz 2*/
body {
    margin: 0;
    padding: 0;
    font-family: "Karla","sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #050404;
    position: relative;
}

.city-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(5, 4, 4, 0.58);
    color: #fff;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
}

#heading {
    font-family: "Karla","sans-serif";
    font-size: 30px;
    font-weight: 400;
    color: #fcdcbf;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    cursor: pointer;
    background-color: rgba(5, 4, 4, 0.58);
    border: none;
    border-radius: 5px;
    top:20px;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.cities-list {
    color: white;
    font-size: x-large;
    font-family: "financier-light","HelveticaNeue",Helvetica,Arial,sans-serif;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
}
#prev-continent {
    background: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transform: rotate(180deg);
}

#next-continent {
    background: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.cities-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cities-list h2 {
    font-family: "financier-light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    pointer-events: none !important;
    cursor: pointer;
    text-align: left;
    color: #fcdcbf;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.cities-list h3 {
    font-family: "financier-light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    pointer-events: none !important;
    cursor: pointer;
    text-align: left;
    color: #fcdcbf;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.cities-list ul {
    list-style-type: none;
    font-family: "financier-light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #fcdcbf;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 0;
    margin: 0;
}

.cities-list li {
    margin-bottom: 2px;
    font-weight: 400;
    color: #fcdcbf;
    list-style-type: none;
    font-family: "financier-light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    line-height: 48px;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-bottom: 1px solid #fcdcbf;
    cursor: pointer;
}

.speed-control {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.speed-control label {
    display: block;
    font-size: 14px;
    text-align: center;
    font-family: "financier-light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #fcdcbf;
    margin-bottom: 5px;
}

.speed-control input[type="range"] {
    width: 100%;
}

.arrow-container {
    position: absolute;
    bottom: 3%;
    transform: translateY(90%);
    width: 100%;
}

.arrow-link {
    position: absolute;
    text-decoration: none;
    margin: 0 5px;
    color: white;
}

/*Viz 3*/
#viz3 {
    background-image: url("images/night-sky.png");
    font-family: "Karla", "sans-serif";
    overflow: hidden;
}

#viz3-heading {
    font-family: "Karla","sans-serif";
    font-size: 30px;
    font-weight: 400;
    transform: translateY(20%);
    pointer-events: none !important;
    cursor: pointer;
    text-align: center;
    color: #fcdcbf;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#selectors-viz3 {
    position: absolute;
    top: 9.5%;
    right: 15%;
    background-color: rgba(5, 4, 4, 0.51);
    padding: 10px;
    border-radius: 5px;
}

#attribute-selector-rating {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    font-family: "Karla", "sans-serif";
    font-size: medium;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.instruction-text, #link-lang {
    animation: flash 2s linear infinite;
}

/*#viz3-svg {*/
/*    transform: translateY(10%);*/
/*}*/